body{
    background: white;
}
.editor-header
{
    color: yellow;
    background-color: #282c34;
}
.module-panel{
margin-left: 20px}
.list-group-item{
    margin-top: 10px;
    margin-bottom: 10px;

}
.module-sidebar{
    margin-top: 10px ;
    margin-left: 10px ;
}
.card{
}
.position{
    color: red;
}
.save{
    color: blue;
}